# Ignore all
*

# Except these specific files
!.gitignore
!.version
!README.md
!LICENSE
!deps.edn

# And all these filetypes
!*.clj

# Certainly not these directories
!resources
!src
!src/usbsid
!src/usbsid/ui
!src/usbsid/ui/sections

# Except these paths and contents
!resources/logging.properties
!resources/usbsid-configtool-icon.png
!resources/usbsid-configtool-logo.png
!resources/usbsid-logo.png

# C64 Font => https://style64.org/c64-truetype
!resources/C64_Pro-STYLE.ttf
!resources/C64_Pro_Mono-STYLE.ttf
